@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-slate-700
}

input, select {
	@apply p-0.5 rounded-sm outline-0 bg-slate-500
}

.inspector {
	@apply block p-2 rounded-md space-y-2 bg-slate-700
}

.button {
	@apply p-2 bg-slate-500 text-slate-200 rounded-xl
}